// Styling for the header

body[id],
{
  > header,
  {
    align-items: center;
    display: flex;
    height: 5.5rem;
    justify-content: center;
    position: sticky;
    top: -1.75rem;
    z-index: 1;

    &::before,
    {
      background-color: $dark;
      border-bottom: 3px solid $primary;
      border-radius: 0 0 1rem 1rem;
      content: "";
      filter: blur(0.125rem) opacity(50%);
      height: 100%;
      max-width: 100%;
      min-width: 20rem;
      position: absolute;
      top: 0;
      width: 70rem;
      z-index: -1;
    }

    > nav,
    {
      flex: 0 1 70rem;
      height: 3.5rem;
      line-height: 2.5rem;
      padding: 0.5rem 1rem;
      position: sticky;
      text-align: right;
      top: 0;

      > button,
      {
        animation: 0s step-end 1ms 1 normal backwards running nav-motion-delay-button;
        border: 0;
        color: $dark;
        cursor: pointer;
        float: right;
        height: 2.5rem;
        margin: 0 0 0 -2.5rem;
        padding: 0;
        position: relative;
        width: 2.5rem;
        z-index: 2;

        &:focus,
        {
          @include text-shadow;
          color: $primary;
          cursor: default;
          outline: none;
        }

        &:hover:not(:focus),
        { color: darken($primary, 20%); }
      }

      > button ~ ul,
      {
        @include box-shadow;
        align-items: center;
        animation: 0s step-end 1ms 1 normal backwards paused nav-motion-delay-list;
        background-color: $primary;
        border-radius: 1.25rem;
        display: grid;
        float: right;
        gap: 0 0;
        grid-template-columns: auto;
        list-style: none;
        margin: 0 0 0 -2.5rem;
        max-height: 20vh;
        min-height: 2.5rem;
        min-width: 2.5rem;
        overflow: hidden;
        padding: 0;
        position: relative;
        right: 0rem;
        scroll-snap-type: y mandatory;
        scrollbar-color: $main $primary;
        text-overflow: ellipsis;
        z-index: 1;

        > li,
        {
          scroll-snap-align: start none;
        }

        > li > a,
        {
          text-align: center;
        }

        > li,
        > li > a,
        {
          @include navbar-font;
          animation: 0s step-end 1ms 1 normal backwards paused nav-motion-delay-list-item;
          color: $dark;
          display: inline-block;
          font-weight: 400;
          line-height: 0rem;
          opacity: 0;
          outline: none;
          text-decoration: none;
          text-overflow: ellipsis;
          text-shadow: 0 0 0.025em $light;
          vertical-align: top;
          white-space: nowrap;
          width: 0rem;

          &:active,
          &:hover,
          &:target,
          {
            background-color: lighten($primary, 20%);
            color: lighten($dark, 20%);
            text-shadow: none;
          }

          &:active,
          {
            background-color: lighten($primary, 30%);
            color: lighten($dark, 30%);
          }

          &:target,
          { font-style: italic; }
        }
      }

      > button ~ ul:focus-within,
      > button ~ ul:hover,
      > button:focus ~ ul,
      {
        animation-play-state: running;
        margin-left: 2.5rem;
        overflow-y: auto;
        right: 2.5rem;

        > li,
        > li > a,
        {
          animation-play-state: running;
          line-height: 2.5rem;
          opacity: 1;
          overflow: hidden;
          width: 13rem;
        }
      }

      > button:hover:not(:focus) ~ ul:not(:focus-within),
      { background-color: lighten($primary, 20%); }

      > a,
      {
        @include logo-font;
        @include text-shadow;
        color: $gray-400;
        float: left;
        font-size: 1.875rem;
        position: relative;
        text-decoration: none;
        z-index: 0;

        &:active,
        &:focus,
        &:hover,
        { color: lighten($gray-400, 30%); }

        &:last-child { margin-right: -100%; }

        &#nav-lt,
        {
          color: $primary;
          font-family: "Rubik Glitch";
          font-size: 2.8125rem;
          vertical-align: top;

          &:hover,
          { color: $secondary; }
        }
      }
    }
  }
}

@keyframes nav-motion-delay-button { from { @include text-shadow; color: $primary; cursor: default; } }
@keyframes nav-motion-delay-list { from { margin-left: 2.5rem; overflow-y: auto; right: 2.5rem; } }
@keyframes nav-motion-delay-list-item { from { line-height: 2.5rem; opacity: 1; width: 13rem; } }

@media(min-width:36rem) {
  body[id] > header > nav > button ~ ul { grid-template-columns: auto auto; }
}

@media(min-width:54rem) {
  body[id] > header > nav > button ~ ul { grid-template-columns: auto auto auto; }
}

@media(min-width:72rem) {
  body[id] > header > nav > button ~ ul { grid-template-columns: auto auto auto auto; }
  body[id] > header::before { content: none; }
}

@media(prefers-reduced-motion:no-preference) {
  body[id] > header > nav,
  {
    > button,
    { transition: color 0.5s, text-shadow 0.5s; }

    > button ~ a,
    { transition: color 0.5s, text-shadow 0.5s; }

    > button ~ ul,
    { transition: margin 0.25s, opacity 0.5s, background-color 0.5s, right 0.5s 0.25s; }

    > button ~ ul > li,
    { transition: line-height 0.25s, background-color 0.5s, opacity 0.5s, width 0.5s; }

    > button ~ ul > li > a,
    { transition: line-height 0.25s, background-color 0.5s, opacity 0.25s, width 0.5s 0.25s; }
  }
}
