// Styling for the intro

body[id] > strong
{
  @include intro-font;
  @include text-shadow;
  color: $primary;
  display: block;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 15vh 0;
  text-align: center;

  .accelerate { font-style: italic; }
  .via, .the, .all, .of, .off, .us { font-size: 0.75em; }
  .via, .the, .all, .of, .virtualities, .demand, .speed, .press, .business, .realities { color: $secondary; }
}

@media(min-width:72rem) {
  body[id] > strong
  {
    font-size: 4rem;
    padding: 30vh 0;
  }
}
