// Styling for the intro

.intro,
{
  @include intro-font;
  @include text-shadow;
  color: $primary;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 10.5rem 0 7.5rem;
  text-align: center;

  .accelerate { font-style: italic; }
  .via, .the, .all, .of, .off, .us { font-size: 0.75em; }
  .via, .the, .all, .of, .virtualities, .demand, .speed, .press, .business, .realities { color: $secondary; }
}

@media(min-width:768px) {
  .intro,
  {
    @include intro-font;
    @include text-shadow;
    font-size: 4rem;
    font-weight: 700;
    padding: 18rem 0;
  }
}
