// Styling for the navbar

body[id],
{
  > header,
  {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 5.5rem;
    position: sticky;
    top: -1.75rem;
    z-index: 1;

    &::before,
    {
      background-color: $dark;
      border-radius: 0em 0em 1em 1em;
      content: "";
      filter: blur(0.125rem) opacity(50%);
      height: 100%;
      max-width: 100%;
      min-width: 20rem;
      border-bottom: 3px solid $primary;
      position: absolute;
      top: 0;
      width: 70rem;
      z-index: -1;
    }

    > nav,
    {
      flex: 0 1 70rem;
      line-height: 2.5rem;
      padding: 0.5rem 1rem;
      position: sticky;
      text-align: right;
      top: 0;

      > button,
      {
        @include box-shadow;
        background-color: $primary;
        border-radius: 0.25rem;
        border: 0;
        color: $dark;
        cursor: pointer;
        height: 2.5rem;
        outline: none;
        padding: 0;
        transition: all 0.25s;
        width: 2.5rem;

        &:hover,
        {
          background-color: lighten($primary, 20%);
          color: lighten($dark, 20%);
        }

        &:active,
        {
          background-color: lighten($primary, 30%);
          color: lighten($dark, 30%);
        }
      }

      > button + ul,
      {
        background-color: $primary;
        border-color: $dark;
        border-radius: 0.5rem 0rem 0.5rem 0.5rem;
        border-style: solid;
        border-width: 0px;
        line-height: 0rem;
        list-style: none;
        margin: -0.25rem 1rem;
        max-height: 80vh;
        max-width: 60vw;
        opacity: 0.125;
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: 0;
        text-align: center;
        transition: all 0.25s;
        white-space: nowrap;
        width: 2.5rem;

        > li > a,
        {
          @include navbar-font;
          color: $dark;
          display: block;
          font-weight: 400;
          outline: none;
          overflow: hidden;
          padding: 0 1.375rem;
          text-decoration: none;
          text-shadow: 0 0 0.025em $light;
          transition: all 0.25s;

          &:active,
          &:hover,
          &:target,
          {
            background-color: lighten($primary, 20%);
            color: lighten($dark, 20%);
            text-shadow: none;
          }

          &:active,
          {
            background-color: lighten($primary, 30%);
            color: lighten($dark, 30%);
          }

          &:target,
          { font-style: italic; }
        }
      }

      > button + ul:focus-within,
      > button + ul:hover,
      > button:focus + ul,
      {
        border-bottom-width: 3px;
        line-height: 3rem;
        opacity: 1;
        overflow: auto;
        padding: 0.5rem 0;
        width: 20rem;
      }

      > a,
      {
        @include logo-font;
        @include text-shadow;
        color: $gray-400;
        float: left;
        font-size: 1.875rem;
        text-decoration: none;
        transition: all 0.25s;

        &:active,
        &:focus,
        &:hover,
        { color: lighten($gray-400, 30%); }

        &#nav-lt,
        {
          color: $primary;
          font-family: "Rubik Glitch";
          font-size: 2.8125rem;
          vertical-align: top;

          &:hover,
          { color: $secondary; }
        }
      }
    }
  }
}
