#fig-wp img,
#fig-ts img {
  width: 50%;
}

#fig-hist img,
#fig-histu img,
#fig-hists img,
#fig-histb img {
  display: inline-block;
  padding: 2em 0.5em;
  &[src="histu.png"] {
    width: 37.25%;
  }
  &[src="hists.png"] {
    width: 30.5%;
  }
  &[src="histb.png"] {
    width: 30%;
  }
}

#space-A15 {
  .space-A15-title-of,
  .space-A15-title-the,
  .space-A15-title-via {
    font-size: 0.75em;
  }

  .space-A15-title-via::before {
    white-space: pre;
    content: '\a';
  }

  .space-A15-title-accelerating {
    font-style: italic;
    padding-right: 0.2em;
  }

  #early-draft-release {
    margin-top: 0.5rem;
  }
}
